.c_3 {
  color: #333333;
}
.c_6 {
  color: #666666;
}
.c_9 {
  color: #999999;
}
.c_0 {
  color: #000000;
}
.c_B {
  color: #BBBBBB;
}
.c_red {
  color: red !important;
}
.c_white {
  color: white !important;
}
.c_icon {
  color: #1a70d2 !important;
}
.c_active {
  color: #1a70d2 !important;
}
.c_green {
  color: green !important;
}
.c_o  {
  color: #ff8a00;
}
.c_blue {
  color: #016CFF;
}
